stripe secret key sk test.txt
OnlineBookStoreApp/.idea/.gitignore
OnlineBookStoreApp/.idea/compiler.xml
OnlineBookStoreApp/.idea/encodings.xml
OnlineBookStoreApp/.idea/jarRepositories.xml
OnlineBookStoreApp/.idea/misc.xml
OnlineBookStoreApp/.idea/modules.xml
OnlineBookStoreApp/.idea/OnlineBookStoreApp.iml
OnlineBookStoreApp/.idea/vcs.xml
OnlineBookStoreApp/.idea/artifacts/OnlineBookStoreApp_javaEEApplication_exploded.xml
OnlineBookStoreApp/.idea/inspectionProfiles/Project_Default.xml
OnlineBookStoreApp/OnlineBookStoreBackend/payment-service/src/main/resources/application.properties
OnlineBookStoreApp/OnlineBookStoreBackend/store-service/src/main/resources/application.properties
OnlineBookStoreApp/OnlineBookStoreBackend/user-service/src/main/resources/application.properties
q
OnlineBookStoreApp/OnlineBookstoreFrontend/online-bookstore/.env
OnlineBookStoreApp/OnlineBookStoreBackend/.env.example
