POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123
KEYCLOAK_ADMIN_CLIENT_ID=bookstore-backend
KEYCLOAK_ADMIN_CLIENT_SECRET=IGxyl7WDzZRfEnpNJnVGI1RHwF2G8xDG

MAIL_USERNAME=your_mail_username
MAIL_PASSWORD=your_mail_password
APP_FRONTEND_URL=http://localhost:5173

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_CONNECT_CLIENT_ID=your_stripe_connect_client_id
STRIPE_PREMIUM_PRICE_ID=your_stripe_premium_price_id
