VITE_API_GATEWAY_URL=/api
VITE_API_PROXY_TARGET=http://localhost:8087
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=bookstore-realm
VITE_KEYCLOAK_CLIENT_ID=bookstore-frontend
VITE_STRIPE_PUBLIC_KEY=pk_test_replace_me
